NET "miso" LOC = "P34";
NET "mosi" LOC = "P29";
NET "sclk" LOC = "P28";
NET "sel"  LOC = "P33";
NET "inputs<0>" LOC = "P1";
NET "inputs<1>" LOC = "P2";
NET "inputs<2>" LOC = "P3";
NET "inputs<3>" LOC = "P4";
NET "inputs<4>" LOC = "P8";
NET "inputs<5>" LOC = "P9";
NET "inputs<6>" LOC = "P35";
NET "inputs<7>" LOC = "P36";
NET "inputs<8>" LOC = "P37";
NET "inputs<9>" LOC = "P38";
NET "inputs<10>" LOC = "P43";
NET "inputs<11>" LOC = "P44";
NET "inputs<12>" LOC = "P11";
NET "inputs<13>" LOC = "P12";
NET "inputs<14>" LOC = "P13";
NET "inputs<15>" LOC = "P14";
NET "inputs<16>"   LOC = "P19";
NET "inputs<17>"   LOC = "P20";
NET "inputs<18>"   LOC = "P24";
NET "inputs<19>"   LOC = "P22";
NET "inputs<20>"   LOC = "P25";
NET "inputs<21>"   LOC = "P26";
NET "inputs<22>"   LOC = FB1_11;
NET "inputs<23>"   LOC = FB1_14;
NET "output"     LOC = FB3_11;