NET "miso" LOC = "P34";
NET "mosi" LOC = "P29";
NET "sclk" LOC = "P28";
NET "sel"  LOC = "P33";
NET "pwms<0>" LOC = "P1";
NET "pwms<1>" LOC = "P2";
NET "pwms<2>" LOC = "P3";
NET "pwms<3>" LOC = "P4";
NET "outputs<0>" LOC = "P8";
NET "outputs<1>" LOC = "P9";
NET "outputs<2>" LOC = "P35";
NET "outputs<3>" LOC = "P36";
NET "outputs<4>" LOC = "P37";
NET "outputs<5>" LOC = "P38";
NET "outputs<6>" LOC = "P43";
NET "outputs<7>" LOC = "P44";
NET "inputs<0>"   LOC = "P19";
NET "inputs<1>"   LOC = "P20";
NET "inputs<2>"   LOC = "P24";
NET "inputs<3>"   LOC = "P22";
NET "inputs<4>"   LOC = "P25";
NET "inputs<5>"   LOC = "P26";
NET "inputs<6>"   LOC = FB1_11;
NET "inputs<7>"   LOC = FB1_14;
NET "clk" BUFG="CLK";