NET "miso" LOC = "P34";
NET "mosi" LOC = "P29";
NET "sclk" LOC = "P28";
NET "sel"  LOC = "P33";
NET "clk"  BUFG = CLK;
NET "digit_enas<0>" LOC = FB1_2;
NET "digit_enas<1>" LOC = FB1_5;
NET "digit_enas<2>" LOC = FB1_6;
NET "digit_enas<3>" LOC = FB1_8;
NET "segments<0>" LOC = FB1_15;
NET "segments<1>" LOC = FB1_17;
NET "segments<2>" LOC = FB2_2;
NET "segments<3>" LOC = FB2_5;
NET "segments<4>" LOC = FB2_6;
NET "segments<5>" LOC = FB2_8;
NET "segments<6>" LOC = FB2_15;
NET "segments<7>" LOC = FB2_17;
NET "inputs<0>" LOC = FB3_14;
NET "inputs<1>" LOC = FB3_15;
NET "inputs<2>" LOC = FB3_16;
NET "inputs<3>" LOC = FB3_17;
NET "inputs<4>" LOC = FB4_2;
NET "inputs<5>" LOC = FB4_5;
NET "inputs<6>" LOC = FB1_11;
NET "inputs<7>" LOC = FB1_14;
