NET "miso" LOC = "P34";
NET "mosi" LOC = "P29";
NET "sclk" LOC = "P28";
NET "sel"  LOC = "P33";
NET "outputs<0>" LOC = "P1";
NET "outputs<1>" LOC = "P2";
NET "outputs<2>" LOC = "P3";
NET "outputs<3>" LOC = "P4";
NET "outputs<4>" LOC = "P8";
NET "outputs<5>" LOC = "P9";
NET "outputs<6>" LOC = "P35";
NET "outputs<7>" LOC = "P36";
NET "outputs<8>" LOC = "P37";
NET "outputs<9>" LOC = "P38";
NET "outputs<10>" LOC = "P43";
NET "outputs<11>" LOC = "P44";
NET "outputs<12>" LOC = "P11";
NET "outputs<13>" LOC = "P12";
NET "outputs<14>" LOC = "P13";
NET "outputs<15>" LOC = "P14";
NET "outputs<16>"   LOC = "P19";
NET "outputs<17>"   LOC = "P20";
NET "outputs<18>"   LOC = "P24";
NET "outputs<19>"   LOC = "P22";
NET "outputs<20>"   LOC = "P25";
NET "outputs<21>"   LOC = "P26";
NET "outputs<22>"   LOC = FB1_11;
NET "outputs<23>"   LOC = FB1_14;
NET "input"         LOC = FB3_11;
NET "p_input"       LOC = FB1_9;