NET "clk" BUFG = CLK;
NET "test_port_a<0>" LOC=FB1_2;
NET "test_port_a<1>" LOC=FB1_5;
NET "test_port_a<2>" LOC=FB1_6;
NET "test_port_a<3>" LOC=FB1_8;
NET "test_port_a<4>" LOC=FB1_15;
NET "test_port_a<5>" LOC=FB1_17;
NET "test_port_a<6>" LOC=FB2_2;
NET "test_port_a<7>" LOC=FB2_5;
NET "test_port_b<0>" LOC=FB2_6;
NET "test_port_b<1>" LOC=FB2_8;
NET "test_port_b<2>" LOC=FB2_15;
NET "test_port_b<3>" LOC=FB2_17;
NET "test_port_b<4>" LOC=FB3_2;
NET "test_port_b<5>" LOC=FB3_5;
NET "test_port_b<6>" LOC=FB3_8;
NET "test_port_b<7>" LOC=FB3_9;
NET "test_port_c<0>" LOC=FB3_11;
NET "test_port_c<1>" LOC=FB3_14;
NET "test_port_c<2>" LOC=FB3_15;
NET "test_port_c<3>" LOC=FB3_16;
NET "test_port_c<4>" LOC=FB3_17;
NET "test_port_c<5>" LOC=FB4_2;
NET "test_port_c<6>" LOC=FB4_5;
NET "test_port_c<7>" LOC=FB4_8;
NET "test_port_d<0>" LOC=FB4_11;
NET "test_port_d<1>" LOC=FB4_14;
NET "test_port_d<2>" LOC=FB4_15;
NET "test_port_d<3>" LOC=FB4_17;
NET "test_port_d<4>" LOC="P6";
NET "test_port_d<5>" LOC="P7";
NET "test_port_d<6>" LOC="P42";
NET "test_port_d<7>" LOC="P40";
NET "test_pin"       LOC="P39";