NET "ppm_clk_i" BUFG="CLK";
NET "ppm_clk_i" LOC="P5";
NET "ppm_i"     LOC="FB1_2";
NET "pwms_o<0>" LOC="FB1_5";
NET "pwms_o<1>" LOC="FB1_6";
NET "pwms_o<2>" LOC="FB1_8";
NET "pwms_o<3>" LOC="FB1_15";
NET "pwms_o<4>" LOC="FB1_17";
NET "pwms_o<5>" LOC="FB2_2";
NET "pwms_o<6>" LOC="FB2_5";
NET "pwms_o<7>" LOC="FB2_6";
NET "miso_o"    LOC="P34";
NET "sclk_i"    LOC="P28";
NET "sel_i"     LOC="P33";
NET "ppm_irq_o" LOC="FB2_8";
NET "sync_o"    LOC="FB4_2";
#NET "mosi_i" LOC = "P29"; SPI input not used
PROHIBIT=P29;