NET "p_mosi" LOC = FB4_14;
NET "p_miso" LOC = FB4_17;
NET "p_sclk" LOC = FB4_11;
NET "p_sel"  LOC = FB4_15;
NET "miso" LOC = FB3_5;
NET "mosi" LOC = FB3_8;
NET "sclk" LOC = FB3_9;
NET "rst"  LOC = FB3_11;
NET "p_tx" LOC = FB3_14;
NET "p_rx" LOC = FB3_15;
NET "tx" LOC = FB3_2;
NET "rx" LOC = FB2_17;
NET "servo_sel" LOC = FB4_5;
NET "servo_clk" BUFG="CLK";
NET "servos<0>" LOC = FB1_2;
NET "servos<1>" LOC = FB1_5;
NET "gpsrx" LOC = FB1_6;
NET "gpstx" LOC = FB1_8;
NET "p_srx" LOC = FB4_2;
NET "p_stx" LOC = FB1_11;
