NET "miso" LOC = FB4_17;
NET "sclk" LOC = FB4_11;
NET "sel"  LOC = FB4_15;
NET "inputs<0>" LOC = FB1_2;
NET "inputs<1>" LOC = FB1_5;
NET "inputs<2>" LOC = FB1_6;
NET "inputs<3>" LOC = FB1_8;
NET "inputs<4>" LOC = FB1_15;
NET "inputs<5>" LOC = FB1_17;
NET "inputs<6>" LOC = FB2_2;
NET "inputs<7>" LOC = FB2_5;
NET "inputs<8>" LOC = FB2_6;
NET "inputs<9>" LOC = FB2_8;
NET "inputs<10>" LOC = FB2_15;
NET "inputs<11>" LOC = FB2_17;
NET "inputs<12>" LOC = FB3_2;
NET "inputs<13>" LOC = FB3_5;
NET "inputs<14>" LOC = FB3_8;
NET "inputs<15>" LOC = FB3_9;
NET "inputs<16>" LOC = FB3_11;
NET "inputs<17>" LOC = FB3_14;
NET "inputs<18>" LOC = FB3_15;
NET "inputs<19>" LOC = FB3_16;
NET "inputs<20>" LOC = FB3_17;
NET "inputs<21>" LOC = FB4_2;
NET "inputs<22>" LOC = FB4_5;
NET "inputs<23>" LOC = FB1_11;
NET "inputs<24>" LOC = FB1_14;
